/* ## Variables
-----------------------------------------------*/

$font-stack-primary: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-stack-secondary: 'Verdana', sans-serif;

$color-primary: #2583d1;
$color-primary-light: #00b0f0;
$color-primary-dark: #00548b;

$color-secondary: #ebb220;

$color-black: #101215;

$color-gray-dark: #393a42;
$color-gray-medium: #6d6e71;
$color-gray-light: #ced2e1;

$shadow-primary: 1px 1px rgba(0, 0, 0, .75);
